#cloud-config
system_info:
  default_user:
    name: "provision"
    sudo: "ALL=(ALL) NOPASSWD:ALL"
chpasswd:
  list: |
    provision:provision
  expire: False
hostname: "{{ hostname }}"
packages:
  - mesa-dri-drivers
resize_rootfs: True
ssh_pwauth: False
{% if ssh_public_key %}
ssh_authorized_keys:
  - "{{ ssh_public_key }}"
{% endif %}
