#cloud-config
system_info:
  default_user:
    name: "provision"
    sudo: "ALL=(ALL) NOPASSWD:ALL"
chpasswd:
  list: |
    provision:provision
  expire: False
hostname: {{ hostname }}
packages:
  - whois
resize_rootfs: True
ssh_pwauth: True
