#cloud-config
system_info:
  default_user:
    name: {username}
chpasswd:
  list: |
    {username}:{password}
  expire: False
resize_rootfs: True
ssh_pwauth: True
package_upgrade: true
packages: ["waypipe", "xwayland-satellite"]
